<Script>
    console.log("tesktsetsktkestksetks\"</scriptekt");
    console.log("tesktsetsktkestksetksekt");
</Script>
<dIv  <!--dsf--> class="form-inline expandableTaskRow">
    <div class="form-group ">
        <label>{{'views.taskDetails.invoice.ValueNet' | translate}}: </label> <b>{{row.entity.details.valueNet |
        currency}}</b>
    </div>
    <div class="form-group ">
        <label>{{'views.taskDetails.invoice.AcceptValueNet' | translate}}: </label> <b>{{row.entity.details.acceptValueNet
        | currency}}</b>
    </div>
    <div class="form-grou<!-- ssss -->p pull-right" ng-if="row.entity.taskForm.formConfig.accept">
        <button class="btn btn-danger btn-xs" type="button" ng-click="grid.appScope.$parent.rejectTask(row.entity)"><span
                class="glyphicon glyphicon-remove"></span>{{'views.task.home.Reject' | translate}}
        </button>
        <button class="btn btn-success btn-xs" type="but<!--dsf-->ton"
                ng-click="grid.appScope.$parent.a<!--dsf-->cceptTask(row.entity)"><span
                class="glyphicon glyphicon-ok"></span>{{'view<!--dsf-->s.task.home.Accept' | translate}}
        </button>
    </div>
</dIv>